<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>processed output</title>
</head>
<body>
    <hi>DNA sequence input</hi>
    <p>you entered: {{ user_input }}</p>
    <h2>resulting image:</h2>
    <img src="{{ image_url }}" alt="result image" style ="width: 200px;height: 200px">
    <br>
    <a href="/">go back</a>
    <style>
        body {background-color: maroon; text-align: center; color: black;}
    </style>
</body>
</html>
